#section-pub {
	position: relative;
	padding: 0 10%;
	top: 50%;
	transform: translateY(-50%);
}

.pub-container {
	height: 100vh;
}

.title {
	font-size: 7vh;
	padding-bottom: 5%;
}

.list-paper{
	list-style: none;
	padding: 2%;
}

.paper{
	padding-top: 3%;
}

.paper a{
	text-decoration: none;
}

@media only screen and (max-width: 480px) {
	.list-paper {
		font-size: 13px;
	}
}