.NavItems {
	background-color: rgb(143, 100, 184);
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.active-nav {
  visibility: visible;
  transition: all 0.25s;
}
.hidden-nav {
  visibility: hidden;
  transition: all 0.25s;
  transform: translateY(-100%);
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 25px;
	list-style: none;
	text-align: center;
	width: 80%;
	justify-content: end;
	margin-right: 2rem;
}

.navbar-link{
	color: rgb(227, 229, 231);
	text-decoration: none;
}

.navbar-link:hover{
	color: rgb(255, 255, 255);
	transition: all 0.2s ease-out;
}

.fa-bars{
	color: rgb(227, 229, 231);
}

.fa-times-circle{
	color: rgb(227, 229, 231);
}

.menu-icon{
	display: none;
}

.navbar-mobile-link{
	display: none;
}

@media screen and (max-width: 968px){
	.NavItems {
		position: fixed;
		font-size: 1.1rem;
	}

	.blur{
		filter: blur(0);
	}

	.blur.active{
		background-color: transparent;
		background-size: cover;
		overflow: hidden;
		z-index: -1;
		filter: blur(5px);
		transition: all 0.5s ease;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 70%;
		z-index: 9;
		height: 100%;
		top: 70px;
		right: -100%;
		grid-gap: 0vw;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active{
		overflow: hidden;
		background-color: rgb(91, 55, 221);
		right: 0;
		opacity: 1;
		height: 100%;
		transition: all 0.5s ease;
		grid-gap: 0vw;
		margin-right: 0;
	}

	.container-nav{
		align-items: center;
	}

	.navbar-link{
		text-align: center;
		justify-content: center;
		padding-top: 4%;
		padding-bottom: 4%;
		width: 100%;
		display: block;
	}

	.navbar-mobile-link{
		display: block;
		list-style: none;
		text-align: center;
		color: rgb(227, 229, 231);
		text-decoration: none;
		background-color: #2aafd8;
		transform: translate(22%, 0%);
		border-radius: 8px;
		font-size: 1.4rem;
		padding: 0.5rem;
		margin-top: 4vw;
		width: 70%;
	}

	.navbar-mobile-link:hover{
		background-color: #219fc5;
		color: rgb(255, 255, 255);
		border-radius: 8px;
		border: none;
		cursor: pointer;
	}

	.menu-icon{
		display: block;
		position: absolute;
		font-size: 1.8rem;
		top: 0;
		right: 0;
		transform: translate(-40%, 50%);
	}

	.navbar-button{
		display: none;
	}
}